 <h2>
    <span>

     Post_Title: <%= link_to post.title, user_post_path(@user, post.id) %>

    </span>
  </h2>
   <p>
   Post_content: <%= post.text %>
  </p>

  <p>
  Comment: <%= post.commentscounter %> 
  </p>
  <div>
  <p>Who made the post: <%= post.user.name %> </p>
  <p>Number of likes:  <%= post.likescounter %> </p>

  </div>
