 <h2>
    <span>

     Post_Title: <%= link_to post.title, user_post_path(@user, post.id) %>

    </span>
  </h2>
   <p>
   Text content: <%= post.text %>
  </p>

  <p>
  Comment: <%= post.commentscounter %> 
  </p>
  <div>
  <p><%= post.user.name %> </p>
  <p>Posts_Counter:  <%= post.user.postcounter %> </p>
  <p>Likes_Counter:  <%= post.likescounter %> </p>

  </div>
