<div>
    <h2>
      Post by <%= post.user.name %>
    </h2>
    <small>
      <span>Comment: <%= post.commentscounter %>, Likes: <%= post.likescounter %></span>
    </small>

  <p>
   Text content: <%= post.text %>
  </p>
  <p>
   Post_title: <%= post.title %>
  </p>
   Likes:
   <%= render partial: "likes/form", locals: { like: post.likes, user: post.user, post: post } %>

<div>
  
  <% if post.comments.empty? %>
    <p>There are no comment!</p>
  <% end %>
  <% post.comments.each do |comment| %>
    <%= comment.text %><br>
    <% end %>
  </div>


</div>
