<div>

    <h2>
      Post by <%= post.user.name %>
    </h2>
    <small>
      <span>Comment: <%= post.commentscounter %>, Likes: <%= post.likescounter %></span>
    </small>

  <p>
   Post content: <%= post.text %>
  </p>
  <p>
   Post_title: <%= post.title %>
  </p>
   Likes:
   <%= render partial: "likes/form", locals: { like: post.likes, user: post.user, post: post } %>

<div>
  
  <% if post.comments.empty? %>
    <p>There are no comment!</p>
  <% end %>
  <% post.comments.each do |comment| %>
   <p>Comments: <%= comment.text %><br></p>
    <% if can? :destroy, comment %>
    <%= button_to "Delete comment", user_post_comment_path(comment.user, comment.post, comment), method: :delete %> 
  <% end %>
    <% end %>
  </div>
  <% if can? :destroy, @post %>
      <%= button_to "Delete Post", user_post_path(@post.user, @post), method: :delete %> 
    <% end %>

</div>
